:root {
    --background: #FCFCFF;
    --black: #16192c;
    --border: #e7eaf0;
    --border-blue: #13BFD4;
    --error: #e53935;
    --error-background: #e53935;
    --success-background: #4caf50;
    --info-background: #2196f3;
    --btn: #026ec4;
    --btn-hover: #2196f3;
    --text-color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

.title {
    display: none;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

form label {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: var(--black);
}

form input[type="text"] {
    width: 500px;
    margin-bottom: 20px;
    border: 1px solid var(--border);
    border-radius: .375rem;
    border-style: solid;
    height: 25px;
    font-size: 12px;
    padding: .75rem 1.25rem;
    box-shadow: 0px 1px 2px rgba(50, 50, 71, .08);
    font-size: 0.875rem;
    font-weight: 400;
}

input[type="text"]:hover {
    border-color: var(--border-blue);
}

input[type="text"]:focus {
    border-color: var(--border-blue);
}

label.required:after {
    content: " *";
    color: var(--error);
}

.error-message {
    color: var(--error);
    font-size: 12px;
    margin-top: -20px;
    margin-bottom: 20px;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

label {
    display: block;
}

form button {
    color: var(--text-color);
    height: 35px;
    width: 87px;
    border-radius: 1.5rem;
    font-weight: 600;
    font-size: 1rem;
    margin: 5px;
}

.submit-btn {
    background-color: var(--btn);
    border: none;
}

.reset-btn {
    background-color: inherit;
    border: 2px solid var(--btn);
    color: var(--btn);
}

.submit-btn:hover .submit-btn:focus {
    background-color: var(--btn-hover);
    transition: background-color 0.3s ease;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.reset-btn:hover,
.reset-btn:focus {
    background-color: var(--btn-hover);
    transition: background-color 0.3s ease;
    border: none;
    color: var(--text-color);
    cursor: pointer;
}

.app-message {
    display: none;
}

@media only screen and (max-width: 600px) {
    form input[type="text"] {
        width: 300px;
    }

    .error-message {
        width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    form input[type="text"] {
        width: 220px;
    }

    .error-message {
        width: 220px;
    }
}