<div>
    <app-message [text]="'tere'" [type]="'tere'" [colors]="'tere'"></app-message>
</div>
<form [formGroup]="nameForm" (ngSubmit)="onSubmit()">
    <div>
        <div>
            <label class="required" for="firstName">First Name</label>
        </div>
        <input type="text" placeholder="Enter your name" id="firstName" formControlName="firstName" (input)="onChange($event)">
        <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
            <div class="error-message" *ngIf="firstName?.errors!['pattern']">No numbers or symbols please</div>
        </div>
    </div>
    <div>
        <div>
            <label class="required" for="surname">Surname</label>
        </div>
        <input type="text" placeholder="Enter your surname" id="surname" formControlName="surname" (input)="onChange($event)">
        <div *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)">
            <div class="error-message" *ngIf="surname?.errors!['pattern']">No numbers or symbols please</div>
        </div>
    </div>
    <div>
        <div>
            <label  class="required" for="email">Email</label>
        </div>
        <input type="text" placeholder="Enter your email" id="email" formControlName="email" (input)="onChange($event)">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div class="error-message" *ngIf="email?.errors!['email']">Please enter a valid email: name&#64;domain.com</div>
        </div>
    </div>
    <div>
        <div>
            <label class="required" for="workingExperience">Working experience</label>
        </div>
        <input class="field" type="text" placeholder="Enter your working experience in months" id="workingExperience" formControlName="workingExperience" (input)="onChange($event)">
    </div>
    <div>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </div>
</form>