:root {
    --text-color: #fff;
    --error-background: #e53935;
    --success-background: #4caf50;
    --info-background: #2196f3;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
}

.message {
    display: flex;
    place-content: center;
    margin-bottom: -50px;
    height: 30px;
    color: var(--text-color);
    background-color: var(--info-background);
    padding: 10px;
}

.message-success {
    background-color: var(--success-background);
}

.message-error {
    background-color: var(--error-background);
}

.message-info {
    background-color: var(--info-background);
}

.message p {
    user-select: none;
    cursor: default;
    margin: auto 0;
}

.hide-button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: background-color, 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    right: 20px;
}

.hide-button:hover {
    color: var(--text-color);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}