<div>
    <div *ngIf="type === 'success'">
        <div class="message-success" [style.display]="messageHidden ? 'none' : 'block'">
            <button class="hide-button" (click)="hideMessage()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
            <p>{{text}}</p>
        </div>
    </div>
    <div *ngIf="type === 'error'">
        <div class="message-error" [style.display]="messageHidden ? 'none' : 'block'">
            <button class="hide-button" (click)="hideMessage()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
            <p>{{text}}</p>
        </div>
    </div>
    <div *ngIf="type === 'info'">
        <div class="message-info" [style.display]="messageHidden ? 'none' : 'block'">
            <button class="hide-button" (click)="hideMessage()">
                <span class="material-symbols-outlined">
                    close
                </span>
            </button>
            <p>{{text}}</p>
        </div>
    </div>
</div>